.content {
    margin: 30px auto;
    height: 720px;
    width: 480px;
    text-align: center;
}

svg {
    position: relative;
    border: 2px solid grey;
    height: 720px;
    width: 440px;
}

rect {
    -webkit-transition: all 2s ease;
}

line {
    stroke: gray; 
    stroke-width: 1;
}
        





